/*Estilo de tipografía y default en 0*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
    list-style: none;
}

/*Estilos generales del body*/
body{
    background-color: #30336b;
    min-height: 100vh;
    align-items: center;
}

.statement{
    color: #0fb6f9;
    display: block;
    text-align: center;
    background-color: #ffffff;
    margin: 3%;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
}

.statement-content{
    padding: 2%;
}

.question-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px,100%);
    /* width: 80%; */
    margin: auto;
}

.question-card{
    flex: 1;
    max-width: 360px;
    max-height: 400px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
}

.question-card-header{
    background-color: #0fb6f9;
    display: inline-block;
    color: #ffffff;
    padding: 3% 10%;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}

.question-card:hover .question-card-header{
    box-shadow: 0 0 0 17em #0fbcf9;
}

/*Estilo de la opcion de respuesta*/
.answer{
    font-size: 70px;
    color: #0fb6f9;
    margin: 15% 0;
    transition: .2s linear;
}

.answer sup, .answer span{
    font-size: 25%;
    font-weight: 700;
}

/*Correcion de detalles en la tarjeta de respuesta*/
.question-card:hover, .question-card:hover .answer{
    color: #ffffff;
}

.question-card li{
    font-size: 95%;
    padding: 5% 0;
    text-transform: uppercase;
}

/*Estilos del boton de seleccion*/
.order-btn{
    display: inline-block;
    margin-bottom: 12%;
    margin-top: 30%;
    border: 2px solid #0fb6f9;
    color: #0fb6f9;
    padding: 5% 10%;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
}

.order-btn:hover{
    background-color: #0fb6f9;
    color: #ffffff;
}
/*Ahora eres feliz Mgnt Stainer???*/
.statement-header{
    padding: 1% 10%;
}

@media only screen and (max-width: 600px) {
    .question-table{
        color: red;
        display: inline-block;
    }
    .question-card:hover .question-card-header{
        box-shadow: 0 0 0 13em #0fbcf9;
    }
}